[Desktop Entry]
Name=Dalle
Comment=Split and join files in various formats
Comment[es]=Corta y une archivos en varios formatos
Exec=/usr/bin/dalle-gtk
Icon=dalle.xpm
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;Archiving;Compression;
