Source: dalle
Section: utils
Priority: optional
Maintainer: Alberto Fernández Martínez <infjaf@gmail.com>
Homepage: http://dalle.sourceforge.net/
Build-Depends: debhelper (>= 7.0.50), 
               nant (>=0.85), 
               mono-runtime (>= 2.10), 
               mono-mcs(>=2.10), 
               libmono-sharpzip4.84-cil (>= 2.10),
               libmono-posix4.0-cil(>= 2.10), 
               libgtk2.0-cil (>= 2.10.2), 
               libglade2.0-cil(>=1.0),
               libgnome2.24-cil (>= 2.24.0),                
               cli-common-dev (>= 0.8~),
               libglade2.0-cil-dev, 
               libgnome2.0-cil-dev, 
               libgtk2.0-cil-dev, 
               libglib2.0-cil-dev
Standards-Version: 3.9.4

Package: dalle
Architecture: all
Depends: ${misc:Depends},
	mono-runtime (>= 2.10),
	libmono-sharpzip4.84-cil (>= 2.10),
	libgnome2.24-cil (>= 2.24.0),
	libgtk2.0-cil (>= 2.12),
	libmono-posix4.0-cil (>= 2.10)
Description: File management tool
 Utility to join fragments of files that were split with 
 other software.
 Dalle supports a wide variety of formats so you can work with a unique 
 application to work with these files.

