Source: dalle
Section: utils
Priority: optional
Maintainer: Alberto Fernández <infjaf00@yahoo.es>
Build-Depends: debhelper (>= 4.0.0), mono-runtime (>=1.0), libgtk-cil (>=1.0), libglade-cil(>=1.0), libgnome-cil(>=1.0), mono-mcs(>=1.0), perl, make
Standards-Version: 3.6.1.1

Package: dalle
Architecture: all
Depends: mono(>=1.0), libgtk-cil (>=1.0), libglade-cil(>=1.0), libgnome-cil(>=1.0)
Description: Tools to work with multiple files
 (hacha, kamaleon, camouflage)

Package: dalle-doc
Architecture: all
Description: Documentation for dalle
 Specific documentacion for all file-formats supported by dalle.
